<!DOCTYPE html>
<html>
    <head>
        <title>Insight</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/landing.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

<div class="container">
  <div id="landing-header">
   		<h1 style="font-size:6em" class = "ui inverted header">Insight</h1>
      <h2 style="font-size:2em; color:white" class "ui">Discerning public opinion through AI powered sentiment analysis.</h2>
  		<a href="/login" class="ui big inverted button">Log in</a>
    	<a href="/register" class="ui big inverted primary button">Register</a>
      <p></p>
      <br>
      <br>
    <img class="logo1 inverted" src="https://cdn.road.cc/sites/default/files/styles/schema_org/public/images/News/Department%20for%20Transport%20logo.png" alt="">
    <img class="logo" src="https://3x7ip91ron4ju9ehf2unqrm1-wpengine.netdna-ssl.com/wp-content/themes/gcs/assets/img/placeholder.png" alt="">
    <img class="logo2" src="https://logodix.com/logo/1728390.png" >
  </div>

</div>



    <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
    </ul>



<%- include ("partials/footer")  %>
