<%- include ("./partials/header")  %>



<div class="container">


    <div id="index-header">
     		<h1 style="font-size:3em" class = "ui inverted header">Select a Social Media Source</h1>
        <br>
        <br>
    </div>


  <div class="row choices">
    <div class="col-lg-2"> </div>
      <div class="col-lg-8">
        <div class="ui three column stackable center aligned grid">
            <div class="middle aligned row icons">

              <div class="column">
                <div class="ui inverted icon header  iconsleft">
                  <a class="icontext" href="/report"><i class="twitter square  icon"></i>
                    Twitter</a>
                </div>
              </div>

              <div class="column">
                <div class="ui inverted icon header  iconsleft">
                  <a class="icontext" href="#"><i class="facebook square  icon"></i>
                    Facebook</a>
                </div>
              </div>

              <div class="column">
                <div class="ui inverted icon header iconsright">
                  <a class="icontext" style="text-decoration:none" href="#">
                    <i class="tumblr square icon"></i>
                    Tumblr
                  </a>
                </div>
              </div>


            </div>
          </div>

          <div class="ui three column stackable center aligned grid">
              <div class="middle aligned row icons">

                <div class="column">
                  <div class="ui inverted icon header  iconsleft">
                    <a class="icontext" href="#"><i class="reddit square  icon"></i>
                      Reddit</a>
                  </div>
                </div>

                <div class="column">
                  <div class="ui inverted icon header  iconsleft">
                    <a class="icontext" href="/dashboard"><i class="viadeo square icon"></i>
                      Viadeo</a>
                  </div>
                </div>
<!--
                <div class="column">
                  <div class="ui inverted icon header  iconsleft">
                    <a class="icontext" href="/report"><i class="facebook square  icon"></i>
                      Facebook</a>
                  </div>
                </div> -->



              </div>
            </div>
        </div>


      </div>

  </div>





  <style type="text/css">
      body {
        background-color: grey;
        background-image: url(https://images.unsplash.com/photo-1544207830-96239228a679?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);

      }

      #index-header {
        z-index: 1;
        position: relative;
        text-align: center;
        padding-top: 20vh;
      }

      #index-header h1 {
        color: #fff;
      }


    </style>






<%- include ("./partials/footer")  %>
