<%- include ("./partials/header")  %>

<div class="container">


    <div id="index-header">
     		<h1 style="font-size:3em" id="headselect"class = "ui inverted header">Select a Social Media Source</h1>
        <br>
        <br>
    </div>


  <div class="row choices">
    <div class="col-lg-2"> </div>
      <div class="col-lg-8">
        <div class="ui three column stackable center aligned grid">
            <div class="middle aligned row icons">

              <div class="column">
                <div  class="ui inverted icon header  iconsleft">
                  <a class="icontext" href="/report"><i class="twitter square  icon"></i>
                    Twitter</a>
                </div>
              </div>

              <div class="column">
                <div class="ui inverted icon header  iconsleft">
                  <a class="icontext" href="#"><i class="facebook square  icon"></i>
                    Facebook</a>
                </div>
              </div>

              <div class="column">
                <div class="ui inverted icon header iconsright">
                  <a class="icontext" style="text-decoration:none" href="#">
                    <i id="select" class="tumblr square icon"></i>
                    Tumblr
                  </a>
                </div>
              </div>


            </div>
          </div>

          <div class="ui three column stackable center aligned grid">
              <div class="middle aligned row icons">

                <div class="column">
                  <div class="ui inverted icon header  iconsleft">
                    <a class="icontext" href="#"><i class="reddit square  icon"></i>
                      Reddit</a>
                  </div>
                </div>

                <div class="column">
                  <div class="ui inverted icon header  iconsleft">
                    <a class="icontext" href="/dashboard"><i class="viadeo square icon"></i>
                      Viadeo</a>
                  </div>
                </div>
<!--
                <div class="column">
                  <div class="ui inverted icon header  iconsleft">
                    <a class="icontext" href="/report"><i class="facebook square  icon"></i>
                      Facebook</a>
                  </div>
                </div> -->



              </div>
            </div>
        </div>


      </div>

  </div>





  <style type="text/css">
    body {
      color: white;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-image: url('../images/ReportsBackground.jpg');
    }
    body.active {
      background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-white-solid-color-background.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      color:black;
    }

      #index-header {
        z-index: 1;
        position: relative;
        text-align: center;
        padding-top: 20vh;
      }

      #index-header h1 {
        color: #fff;
      }


#select.active {
  color: black;
}

    </style>






<%- include ("./partials/footer")  %>
