.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.delete-form {
  display: inline;
}

.choices {
  font-size: 2em;
}

.iconsleft {
  opacity: 0.6;
}

.iconsleft:hover {
  opacity: 1;
}

i {
  color:white;
}

i.active {
  color: black;
}

a {
  color: blue;
}

.icontext {
  color:white;
}

.icontext.dash {
  font-size: 0.5em;
    opacity: 0.6;
}

.icontext.dash:hover {

    opacity: 1;
}

.icontext:hover {
  color:white;
}

.iconsright {
  opacity: 0.6;
}

.iconsright:hover {
  opacity: 1;
}
.divider {
  font-size: 4em;
}

.loginIcon {
  color:black;
}

.dropdown-toggle{
  opacity: 0.7;
}

.dropdown-toggle:hover{
  opacity: 1;
}

.filtericons {
  color:black;
}

#form-top{
  margin-top:100px;
}

.icontext.active {
  color: black;
}

#headselect.active {
  color:black;
}

#dashheader.active {
  color:black;
}

#dashpersonal.active {
  color:black;
}


#newhead.active {
  color:black;
}

#divider.active {
  color: black;
}

#indexmain.active {
  color: black;
}

#dashhead.active {
  color: black;
}

#dashheadpersonal.active {
  color: black;
}
